.today {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
  color: var(--text-color-1);

  @include respond(desktop) {
    // padding-left: 20rem;
  }

  &__now {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @include respond(desktop) {
      flex: 1.5;
    }

    &--wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--wrap2 {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    &--weather {
      font-size: 4rem;
      font-weight: 200;

      @include respond(desktop) {
        font-size: 6rem;
      }
    }

    &--icon {
      width: 6rem;

      @include respond(desktop) {
        width: 10rem;
      }
    }

    &--temperature {
      line-height: 1;
      font-weight: 100;
      font-size: 13rem;
      letter-spacing: 0;

      @include respond(desktop) {
        font-size: 18rem;
      }
    }
  }

  &__day {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 2rem;

    & > * {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 2rem;
      }
    }

    &--line {
      height: 1px;
      width: 50%;
      max-width: 50px;
      background-color: var(--text-color-1);

      @include respond(desktop) {
        max-width: 75px;
      }
    }

    &--highest {
      font-size: 2.75rem;
      font-weight: 300;

      @include respond(desktop) {
        font-size: 3.75rem;
      }
    }

    &--lowest {
      font-size: 2.75rem;
      font-weight: 300;

      @include respond(desktop) {
        font-size:  3.75rem;
      }
    }
  }
}
